#hangman-pic{
    height: 400px;
    width: auto;
}

.panel-title{
    color: white;
}

#keyboard{
    grid-area: keyboard;
    display: grid;
    justify-items: center;
    min-width: 459px;
    
}

.keyboardBtn{
    margin: 2px;
    font-size: 26px;
    line-height: 28px;
    border-width: 2px;
}

.keyboardRow{
    align-self: center;
    justify-self: center;
}

#keyboardWrapper{
    display: grid;
    grid-template-columns: 5px auto 5px;
    grid-template-rows: 15px auto 15px;
    grid-template-areas: 
        ". . ."
        ". keyboard ."
        ". . .";
    
}

@media screen and (max-width:580px){
    html{
        min-width: 458px;
    }
    
    #keyboard{
        min-width: 300px;
        
    }


    .keyboardBtn{
        margin: 1px;
        font-size: 20px;
        line-height: 22px;
        border-width: 1px;
    }
} 